node_modules/
dist/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.idea/
.vscode/
coverage/
*.log
.env
admin/.env
backend/.env
mobile/.env
tools/
admin/dist/
backend/api.exe
backend/api.exe~
mobile/.metadata
